---
const PUBLIC_BASE_URL = import.meta.env.PUBLIC_BASE_URL || "";

const logos = [
  {
    src: `${PUBLIC_BASE_URL}/logos/Lemon.png`,
    alt: "Lemon Squeezy",
    link: "https://www.lemonsqueezy.com",
  },
  {
    src: `${PUBLIC_BASE_URL}/logos/Logo_Google_Analytics.png`,
    alt: "Google Analytics",
    link: "https://analytics.google.com",
  },
  {
    src: `${PUBLIC_BASE_URL}/logos/nodejs-logo-svgrepo-com.png`,
    alt: "Node.js",
    link: "https://nodejs.org",
  },
  {
    src: `${PUBLIC_BASE_URL}/logos/plausible_logo.png`,
    alt: "Plausible",
    link: "https://plausible.io",
  },
  {
    src: `${PUBLIC_BASE_URL}/logos/Stripe_Logo,_revised_2016.png`,
    alt: "Stripe",
    link: "https://stripe.com",
  },
  { src: `${PUBLIC_BASE_URL}/logos/astro.png`, alt: "Astro", link: "https://astro.build/" },
  { src: `${PUBLIC_BASE_URL}/logos/chatgpt.png`, alt: "ChatGPT", link: "https://chatgpt.com/" },
  { src: `${PUBLIC_BASE_URL}/logos/SVG.png`, alt: "SVG", link: "#" },
  {
    src: `${PUBLIC_BASE_URL}/logos/Tailwind_CSS_Logo.png`,
    alt: "Tailwind CSS",
    link: "https://tailwindcss.com",
  },
  { src: `${PUBLIC_BASE_URL}/logos/unibee.png`, alt: "Unibee", link: "https://unibee.dev/" },
];
---

<section class="py-10 flex flex-col gap-10">
  <div class="flex flex-row items-center justify-around">
    {
      logos.map((logo) => (
        <a target="_blank" href={logo.link}>
          <img
            src={logo.src}
            alt={logo.alt}
            class="h-12 px-1 grayscale opacity-60 hover:grayscale-0 hover:opacity-100 transition duration-300"
          />
        </a>
      ))
    }
  </div>
</section>
